<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport"content="width=device-width,initial-scale=1">
    <link href="/css/img/favicon.ico" rel="shortcut icon" type=image/x-icon>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.min.css" />
    <link rel="stylesheet" href="/css/style.css">

    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
	  <script src="/script/jquery.form.min.js"></script>
    <script src="/script/app.js"></script>
    <script src="/script/osmtags.js"></script>
    <title>CitySDK CMS</title>
    <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  </head>
  
  <body>
    <div class="full-width-header">
      <div class="container">
        <header class="header">
        </header>
      </div>
    </div>
    <div class="full-width-content">
      <div id="maincontent" class="container">
           <%= yield %>
      </div>
    </div>
    <div class="full-width-footer">
      <div class="container">
        <footer class="footer clearfix">
            <% 
              if session[:oid] 
               s = ' signed in as ' + "<a href = /profile/#{session[:oid]}>#{Owner[session[:oid]].email}</a>"
              else 
               s = '' 
              end
            %>
            CitySDK - <a href='http://waag.org'>Waag Society</a> 2013; <%= s %>
            <img class = "logo" src="/css/img/logos.jpg" >
        </footer>
      </div>
    </div>
  </body>
</html>


<% if false %>
<nav class="menu">
  <ul>
    <li><a href="#top">Quick Guide</a></li>
    <li><a href="#examples">Examples</a></li>
    <li><a href="#code">Code</a></li>
  </ul>
</nav>
<% end %>
