<% if @owner.errors.full_messages.length > 0 %>
  <div class='errormsg'>
    <% if @owner.errors.full_messages.length == 1 %>
      There was an issue saving the profile:
    <% else %>
      There were some issues saving the profile:
    <% end %>
    <ul>
      <% @owner.errors.full_messages.each do |l| %>
        <li><%= l %></li>
      <% end %>
    </ul>
  </div>
<% end %>
