<b>data frames:</b>&nbsp;<%= @ndata %><br/>
<b>layer nodes:</b>&nbsp;<%= @nodes %><br/>
<b>last update:</b>&nbsp;<%= @ndataua %>
<div id="delurl" style='float:right'>
  <a href='#' onclick="<%= @delcommand %>">clear all data</a>
</div>

