.svg{
    position: absolute;
	top:0;
}

.axis path,
.axis line {
  fill: none;
  stroke: #999;
  shape-rendering: crispEdges;
}
.axis text{
	fill: steelblue;
	font-size:11px;
}
path {
  fill: steelblue;
}

.bar {
  fill: #ccc;
}

.line {
  fill: none;
  stroke: #c;
  stroke-width: 0.25px;
}


.dotRed {
  fill: red;
  stroke: #ccc;
  stroke-width: 0.25px;
}

.brush .extent {
  stroke: #999;
  fill: #ccc;
  fill-opacity: .25;
  shape-rendering: crispEdges;
}